<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Guess</title>
  </head>
  <body>
    <form action="/" method="post">
    <p class="randomWord">Guess the letters in the word below:{{dashes}}</p>
    <input type="text" name="letters" value="" placeholder=" ">
    </form>
  </body>
</html>
