<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Guess</title>
    <!-- <link rel="stylesheet" href="/main.css"> -->
  </head>
  <body>
    <div class="errors"
    {{#errors}}
    <p> {{.}} </p>
    {{/errors}}
  </div>


  <p class="guess">Guess the letters in the word below:</p>
  <div class="initialguess">
     {{#dashedWords}}
     {{.}}
     {{/dashedWords}}
   </div>


      <form action="/" method="post">
      <label for="userguess">Enter your guess here:</label>
      <input type="text" name="userguess" value="" placeholder=" ">
      <button class="submitbutton" type="submit">Submit</button>
    </form>

    <div class ="correctLetters">
     {{#correctLetters}}
     <p>These are you correct letter guesses:{{.}}</p>
     {{/correctLetters}}
    </div>
    <br>

    <div class="wrongguesses">
      {{#wrongLetters}}
      <p class="wrongletter">These are your incorrect guesses:{{.}}</p>
      {{/wrongLetters}}
    </div>
    <br>

    <div class="remainingtries">
      {{#attempts}}
      <p class="attemptsremaining">You have {{.}} guesses remaining.</p>
      {{/attempts}}
    </div>

  </body>
    <script type="text/javascript" src="game.js">
</html>
